body {
  background-color: white;
}

ul {
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0 20px 0 0;
  overflow: hidden;
  display: inline-block;
}

li {
  display: inline;
}

li a.odd {
  color: grey;
  text-decoration: none;
}

li a.even {
  color: darkgray;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.button_cat {
  width: 60px;
  height: 60px;
  border: 5px solid #c06c84;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

.button_cat:hover {
  background-color: #8cae8a;
  color: #45171d;
  border-color: #f5b444;
}

.button_contact {
  float: right;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 20px 0 0 0;
  color: rgb(122, 122, 122);
}

h2 {
  color: white;
  font-weight: bolder;
}

.navi {
  padding: 20px 0;
  text-align: right;
}

.navi li + li:before {
  content: " | ";
  padding: 0 10px;
}

.desc {
  margin: 50px 0;
  font-size: large;
}

.cat_box {
  padding: 0;
}

.cat {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.cat_desc {
  background: black;
  color: white;
  text-align: justify;
  padding: 50px;
}

.video-container {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.video-container .caption {
  z-index: 1;
  position: absolute;
  text-align: left;
  padding-left: 5rem;
  bottom: 20%;
  text-shadow: 2px 2px 1px black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.footer {
  background: rgb(27, 27, 27);
  color: white;
  margin: 100px 0 0 0;
  padding: 20px 0 50px 0;
}

.social {
  font-size: xx-large;
  text-align: center;
  padding: 20px 0;
}

@media (max-width: 767.98px) {
  .video-container {
    max-height: 30vh;
  }
}

@media (min-width: 991.98px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 991.98px) {
  .cat {
    max-width: 50%;
    margin: 0 auto;
    display: block;
    border-radius: 20px 20px 0 0;
  }

  .cat_desc {
    max-width: 50%;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    text-align: center;
  }

  .sec_to_thr {
    order: 3;
  }
  .thr_to_sec {
    margin: 40px 0 0 0;
    order: 2;
  }
}
