body {
  background-color: white;
}

.ul_nav {
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0 20px 0 0;
  overflow: hidden;
  display: inline-block;
}

.li_nav {
  display: inline;
}

.title_reasons {
  margin: 40px 0 0 0;
}

.ul_reasons {
  columns: 2;
  padding: 0px 40px;
}

.li_reasons {
  list-style: none;
  padding: 0 0 15px 0;
}

li a.home {
  color: #b58b60;
  text-decoration: none;
  font-weight: bold;
}

li a.even {
  color: #96a171;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.button_cat {
  width: 60px;
  height: 60px;
  border: 5px solid #e9edc9;
  background-color: white;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

.button_cat:hover {
  background-color: #e9edc9;
  color: #45171d;
  border-color: #b58b60;
}

.button_contact {
  float: right;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 20px 0 0 0;
  color: rgb(122, 122, 122);
}

h2 {
  color: white;
  font-weight: bolder;
}

.navi {
  padding: 20px 0;
  text-align: right;
}

.navi li + li:before {
  content: " | ";
  padding: 0 10px;
}

a {
  color: #b58b60;
}

a:hover {
  text-decoration: none;
}

.desc {
  margin: 50px 0;
  font-size: large;
}

.cat_box {
  padding: 0;
}

.space {
  margin: 0 0 40px 0;
}

.cat {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.cat_desc {
  background: #b58b60;
  color: white;
  text-align: justify;
  padding: 50px;
}

.video-container {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.video-container .caption {
  z-index: 1;
  position: absolute;
  text-align: left;
  padding-left: 5rem;
  bottom: 20%;
  text-shadow: 2px 2px 1px black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.cat-face {
  cursor: default;
}

.cat-face:after {
  content: "⭐";
}

.cat-face:hover:after {
  content: "😹";
}

.game {
  background: #ced3ab;
  margin: 50px 0 0 0;
  padding: 30px 0;
  text-align: center;
}

.footer {
  background: #899170;
  color: white;
  padding: 20px 10px 50px;
}

.footer a {
  color: #443424;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.hide {
  display: none;
}

.cat_hover:hover + .hide {
  display: inline;
}

.social {
  font-size: xx-large;
  text-align: center;
}

@media (max-width: 767.98px) {
  .video-container {
    max-height: 30vh;
  }
}

@media (min-width: 991.98px) {
  body {
    overflow-x: hidden;
  }

  .display-3_cat {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .cat {
    max-width: 50%;
    margin: 0 auto;
    display: block;
    border-radius: 20px 20px 0 0;
  }

  .cat_desc {
    max-width: 50%;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    text-align: center;
  }

  .sec_to_thr {
    order: 3;
  }
  .thr_to_sec {
    margin: 40px 0 0 0;
    order: 2;
  }
}
